@font-face {
    font-family: "Vazirmatn";
    src: url("/node_modules/@fontsource/vazirmatn/files/vazirmatn-latin-400-normal.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("/node_modules/@fontsource/vazirmatn/files/vazirmatn-latin-700-normal.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

:root {

    font-family: "Vazirmatn", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDFE3;
}

