.chart-title {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0 15px 0;
    text-align: center;
    color: #333;
}

.chart-wrapper {
    width: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    margin-bottom: 40px;
    box-sizing: border-box;
}

.chart-wrapper canvas {
    width: 100% !important;
    height: auto !important;
}

.pie-chart canvas {
    height: 320px !important;
}

@media (max-width: 600px) {
    .chart-title {
        font-size: 18px;
        margin-top: 20px;
    }

    .chart-wrapper {
        padding: 10px;
    }

    .pie-chart canvas {
        height: 250px
    }
}

.pie-box {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 20px 0;
}

.pie-box canvas {
    width: 100%;


    display: block;
}