@import './fonts.css';

:root {

    font-family: "Vazirmatn", sans-serif;
    margin: 0;
    padding: 0;
}

body{
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDFE3;
}

