@import './fonts.css';
:root {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Vazirmatn", sans-serif;
    font-weight: 500;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDFE3;
    font-family: "Vazirmatn", sans-serif;
}